*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  letter-spacing: 0.2px;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
}

#root {
  display: flex;
  flex: 1;
}
