.customers-list-component {
  width: 80rem;
  border-radius: 2rem;
  border: 1px solid #eee;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 2rem;
    border-bottom: 1px solid #eee;

    .title {
      font-size: 2.4rem;
    }

    .filters-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }
  }
  .no-results {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem;
    font-size: 1.4rem;
  }
}
